:root {
    --cm-sidenav-width: 240px;
}
nav#side-nav {
    width: var(--cm-sidenav-width);
    min-height: 100%;
    background-color: white;
    font-size: 14px;
    will-change: transform;
}
nav#side-nav.pull-out {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0,0,0.32,1);
}
nav#side-nav.pull-out[aria-expanded=true] {
    transform: translateX(0px);
}
nav#side-nav.pull-out[aria-expanded=true] ~ #overlay {
    z-index: 10;
    opacity: 0.7;
}
nav#side-nav > .logo {
    height: 40px;
    padding: 12px 0px 12px 24px;
}
nav#side-nav > .logo span {
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}
nav#side-nav ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}
nav#side-nav > ul > li {
    padding: 15px 0px 15px 0px;
    cursor: pointer;
    font-weight: 500;
    border-top: 1px solid var(--cm-grey-lighten-2);
}
nav#side-nav > ul > li:last-child {
    border-bottom: 1px solid var(--cm-grey-lighten-2);
}
nav#side-nav > ul li:hover {
    background-color: var(--cm-grey-lighten-3);
}
nav#side-nav > ul li a {
    display: table;
    width: 235px;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    user-select: none;
}
nav#side-nav > ul li a span {
    vertical-align: middle;
    line-height: 24px;
}
nav#side-nav > ul li a span.material-icons,
nav#side-nav > ul li a span.fa,
nav#side-nav > ul li a span.devicons {
    padding-right: 32px;
    position: relative;
    top: -1px;
}
nav#side-nav > ul li ul {
    display: none;
    padding-top: 15px;
}
nav#side-nav > ul li ul li {
    padding: 15px 0px 15px 44px;
    font-weight: normal;
}
nav#side-nav > .legal {
    padding: 12px 0px 12px 24px;
    border-top: 1px solid var(--cm-grey-lighten-2);
    bottom: 0px;
    position: absolute;
    width: 100%;
}
nav#side-nav > .legal div {
    padding-bottom: 5px;
}
nav#side-nav > .legal a {
    text-decoration: none;
    color: var(--cm-light-blue-darken-3);
}
header.header > nav > .sidenavcontrol {
    display: inline-block;
    padding: 0px 0px 0px 15px;
    vertical-align: middle;
    cursor: pointer;
}

@media screen and (min-width:960px) {
    nav#side-nav.pull-out {
        transform: translateX(0px);
    }
    header.header {
        transform: translateX(var(--cm-sidenav-width));
        width: calc(100% - var(--cm-sidenav-width));
    }
    main {
        transform: translateX(var(--cm-sidenav-width));
        width: calc(100% - var(--cm-sidenav-width) - 40px);
    }
}
header.header {
    transition: transform 0.3s cubic-bezier(0,0,0.32,1);
}
main {
    transition: transform 0.3s cubic-bezier(0,0,0.32,1);
}
