div.card {
    width: 100%;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    @apply --cm-shadow-1;
}
div.card:hover {
    @apply --cm-shadow-3;
}
div.card.nohover:hover {
    @apply --cm-shadow-1;
}
div.card > div.cardmedia {
    max-height: 400px;
    overflow: hidden;
}
div.card > div.cardmedia > img {
    width:100%;
}
div.card > div.cardcontent {
    padding: 16px;
    padding-top: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
div.card > div.cardaction {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
div.card > div.cardaction > a.btn {
    background-color: inherit;
    color: var(--cm-blue);
    box-shadow: none;
}
