header.header nav {
    height: 64px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
header.header nav .title {
    font-size: 18px;
    line-height: 64px;
    margin-left: 15px;
    display: inline-block;
}
header.header nav .title a {
    text-decoration: none;
    color: inherit;
}
header.header nav .title a img {
    vertical-align: middle;
}
header.header nav > ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}
header.header nav > ul > li {
    padding: 0px 10px;
    line-height: 64px;
}
header.header.thin nav > ul > li {
    line-height: 32px;
}
header.header nav > ul.right {
    float: right;
    padding-right: 32px;
}


/*header.header.with-side-nav {
margin-left: 240px;
}*/
header.header .container {
    padding: 0px;
}
header.header.thin nav {
    height: 32px;
}
header.header.thin nav .title {
    line-height: 32px;
    font-size: 16px;
}
header.header.sticky {
    /*
    position: absolute;
    top: 0px;
    */
}
