body {
    --cm-header-height: 64px;
}
header.header nav {
    height: var(--cm-header-height);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
header.header nav .title {
    font-size: 18px;
    line-height: var(--cm-header-height);
    margin-left: 15px;
    display: inline-block;
}
header.header nav .title a {
    text-decoration: none;
    color: inherit;
    line-height: var(--cm-header-height);
}
header.header nav .title a span {
    line-height: var(--cm-header-height);
    vertical-align: middle;
}
header.header nav .title a img {
    vertical-align: middle;
    height: 48px;
}
header.header nav > ul {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}
header.header nav > ul > li {
    padding: 0px 10px;
    line-height: var(--cm-header-height);
    display: inline-block;
    vertical-align: top;
}
header.header nav > ul > li * {
    vertical-align: middle;
}
header.header nav > ul.right {
    float: right;
    padding-right: 32px;
}
header.header .container {
    padding: 0px;
}
header.header.thin {
    --cm-header-height: 32px;
}
header.header.thin nav .title {
    line-height: var(--cm-header-height);
    font-size: 16px;
}
header.header.thin nav > ul > li {
    line-height: var(--cm-header-height);
}
header.header.thin nav .title a img {
    height: 24px;
    margin-right: 5px;
}
header.header.sticky {
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: inherit;
    margin-bottom: var(--cm-header-height);
}
header.header.sticky ~ main {
    margin-top: var(--cm-header-height);
}
