header.header .menu {
    cursor: pointer;
}
header.header .menu > ul {
    list-style-type: none;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 0px;
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(0,0,0.32,1), opacity 0.3s cubic-bezier(0,0,0.32,1);
    opacity: 0;
    transform: translateY(calc(-0.25 * var(--cm-header-height)));
}
header.header .menu > ul li {
    line-height: initial;
}
header.header .menu > ul > li:first-child {
    margin-top: 10px;
}
header.header .menu > ul > li:last-child {
    margin-bottom: 10px;
}
header.header .menu > ul li a {
    padding: 0px 20px;
    line-height: 50px;
}
header.header .menu[aria-expanded=true] > ul {
    z-index: 11;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    transform: translateY(-2px);
}
header.header .menu[aria-expanded=true] > ul li:hover {
    background-color: #ddd;
}
